@page "/register"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model itu_minitwit.Pages.RegisterModel
@{
    Layout = "Shared/_Layout.cshtml";
}


<h2>Sign Up</h2>
<form method=post>
    <dl>
        <dt>Username:
        <dd><input type=text name=username size=30 asp-for="Username">
        <dt>E-Mail:
        <dd><input type=email name=email size=30 asp-for="Email">
        <dt>Password:
        <dd><input type=password name=password size=30 asp-for="Password">
        <dt>Password <small>(repeat)</small>:
        <dd><input type=password name=password2 size=30 asp-for="Password2">
    </dl>
@if (!ModelState.IsValid)
{
    <div class="alert alert-danger" style="color: red;">
        <p>@ModelState.Values.First().Errors.FirstOrDefault()?.ErrorMessage</p>
    </div>
}
    <div class=actions><input type=submit value="Sign Up"></div>
</form>
