@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>

@{
    var username = Context.Request.Cookies["username"];
}

<head>
    <title>@ViewData["Welcome Minitwit"]</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="page">
        <h1>MiniTwit</h1>
        <div class="navigation">
            @if (username != null)
            {
                <div>
                    <a href=" /@username) ">my timeline</a> |
                    <a href="/public">public timeline</a> |
                    <a href="/logout">sign out [@username)]</a>
                </div>
            }
            else
            {
                <div>
                    <a href="/public">public timeline</a> |
                    <a href="/register">sign up</a> |
                    <a href="/login">sign in</a>
                </div>
            }
        </div>
        <div class="body">
            @RenderBody()
        </div>
        <div class="footer">
            MiniTwit &mdash; A Razor page Application
        </div>
    </div>
</body>

</html>